
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 

}

/* body {
  
 
    display: flex;
    justify-content: center; 
    background: rgba(161, 0, 0, 0.3);
     width: 100%;

    
}
 */



header img {
    display: block;   
    width: 100%;
    height: 500px;
    object-fit: cover;

}

.content{
    background: white;
  
    padding: 48px 48px 64px 48px; 



}

h1 {
    font-size: 26px;
    color:  rgba(161, 0, 0, 1);
    margin-bottom: 24px;

     font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 700;     
    font-size: 28px;
    line-height: 100%;   
    letter-spacing: 0;
    
  
}


.text {
    font-family: 'Open Sans', Arial, sans-serif; 
    font-weight: 400;      
    font-size: 16px;        
    line-height: 16px;      
    letter-spacing: 0;    
    color: #000000;       
    background: #EBEBEB;     
 
    padding: 16px;
  
    margin-bottom: 24px;  
}


.ingredients-section {
    margin-top: 24px;
    margin-bottom: 24px;

}

.ingredients-section h2 {
    font-family: 'Open Sans', Arial, sans-serif; 
    font-weight: 700;     
    font-size: 24px;
    line-height: 100%;   
    letter-spacing: 0;
   margin-top: 24px;
    margin-bottom: 16px; 

}

.ingredients-section p {
    font-family: 'Open Sans', Arial, sans-serif; 
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 16px;
    color: #000;
}

.ingredients-section ul{
   
     padding-left: 21px; 
     font-family: 'Open Sans', Arial, sans-serif; 
    font-weight: 400;
    font-size: 16px;
 
}


.steps-section {
    margin: 24px 0;      
}

.steps-section h2 {
   font-family: 'Open Sans', Arial, sans-serif; 
    font-weight: 700;     
    font-size: 24px;
    line-height: 100%;   
    letter-spacing: 0;
   /* margin-top: 24px; */
    margin-bottom: 16px; 

}

.steps-section ol {
    margin-left: 20px;  
     font-family: 'Open Sans', Arial, sans-serif; 
    font-weight: 400;
    font-size: 16px;
}




.ingredients-section ul li,
.steps-section ol li {
    margin-bottom: 7px; 
}

.ingredients-section ul li:last-child,
.steps-section ol li:last-child {
    margin-bottom: 0;
}








.serveringsforslag h2 {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0;
    margin-top: 24px;
    margin-bottom: 16px;
}


.serveringsforslag .gallery {
   
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.serveringsforslag .gallery img {
    width: 580px;
    height: 467px;
    object-fit: cover;
   
  
}



@media (max-width: 360px) {

    header {
        width: 100%;
        height: 500px;
    }

    header img {
         width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .content {
        /* padding: 24px 12px 32px 12px; */
           padding: 48px 16px 64px 16px;
        width: 100%;
        /* box-sizing: border-box; */
    }

    .text {
        font-size: 16px;
        line-height: 16px;
        padding: 10px;
    }

    .serveringsforslag .gallery {
        display: flex;
        flex-direction: column;
         align-items: center; 
        gap: 16px;
    }



        .serveringsforslag .gallery img {
        width: 100%;        
        max-width: 408px;  
        height: 467px;
        object-fit: cover;
        object-position: center;
    }
}




@media (max-width: 430px) and (min-width: 361px) {

    header {
        width: 100%;
        height: 500px;
    }

    header img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .content {
        padding: 48px 16px 64px 16px;
        width: 100%;
        box-sizing: border-box;
    }

    .serveringsforslag .gallery {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .serveringsforslag .gallery img {
        width: 100%;      
        max-width: 408px;  
        height: 467px;
        object-fit: cover;
        object-position: center;
    }
}



@media (min-width: 431px) and (max-width: 768px) {

    header {
        width: 100%;
        height: 500px;
    }

    header img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .content {
        padding: 48px 16px 64px 16px;
        width: 100%;
        box-sizing: border-box;
    }

 
    .serveringsforslag .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 24px;
}

.serveringsforslag .gallery img {
    /* width: calc(50% - 12px); */
    max-width: 408px;
    height: 467px;
    object-fit: cover;
    object-position: center;
}

}



@media (min-width: 769px) and (max-width: 1024px) {

  

   
    .content {
        padding: 48px 4%; 
    }

    
    .serveringsforslag .gallery {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        flex-wrap: wrap; 
    }

    .serveringsforslag .gallery img {
        width: 450px;    
        height: 467px;
        object-fit: cover;
    }
}



@media (min-width: 1024px) and (max-width: 1280px) {

    
    .content {
        padding: 48px 4%; 
    }

    .serveringsforslag .gallery {
        display: flex;
        justify-content: center; 
        gap: 24px;
        flex-wrap: wrap; 
    }

    .serveringsforslag .gallery img {
        width: calc(50% - 12px); 
        height: auto;
        object-fit: cover;
        margin-bottom: 24px; 
    }
}











.site-footer {
    background: transparent;
    padding: 24px 0;
    text-align: center;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    color: #000; 
}



@media (max-width: 430px) {
    .site-footer {
        padding: 16px 8px;
        font-size: 13px;
    }
}


body {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    background: rgba(161, 0, 0, 0.3);
    width: 100%;
     height: 100%;
    margin: 0;
    padding: 0; 
} 
.container {
    width: 100%;
    max-width: 1280px;
   
}
